.autocomplete {
  position: relative;
  color: #ffffff;
}

.autocomplete > input {
  width: 100%;
  height: 30px;
  outline: none;
  background-color: #323232;
  border: 1px solid #323232;
  border-radius: 5px;
  padding: 0px 8px;
  color: #ffffff;
  font-weight: 600;
}

.autocomplete .list {
  position: absolute;
  top: 33px;
  left: 0;
  width: 100%;
  background-color: #323232;
  border: 1px solid #323232;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
}

.autocomplete .list-item {
  height: 30px;
  padding: 0px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.autocomplete .list-item:hover {
  background-color: red;
  border-radius: 5px;
}
