.container {
  display: flex;
  background-color: transparent;
  height: 300px;
}

.container-section {
  height: 300px;
  display: flex;
}

.column-header {
  background-color: #2e2e3c;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
}

.column-body {
  background-color: #333343;
  height: calc(100% - 40px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-main-body {
  display: flex;
  align-items: flex-start;
}

.column-main-body > img {
  margin-top: 8px;
  margin-left: 24px;
}

.temps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
